body {
    padding: 30px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    background-image: linear-gradient(to bottom, red, yellow, green);
}

.volta{
    background-image: linear-gradient(to bottom, red, yellow, green);
    text-decoration: black;
    font-weight: bold;
    padding: 1rem 1rem;
    margin: 20px;
    border: linear-gradient(to bottom, red, yellow, green);
    border-radius: 25px;
    display: inline-block;
    transition: all 0.5s ease;
    color: black;
}

.semaforo{
    margin: 30px;
    background-color: rgb(24, 24, 24);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 390px;
    gap: 12px;
    width: 170px;
    border-radius: 25px;
}

.sinal{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.vermelho {
    background-image: linear-gradient(to right, red, rgb(143, 4, 4));
    box-shadow: 0 0 20PX red;
}
.amarelo {
    background-image: linear-gradient(to right, yellow, rgb(202, 202, 2));
    box-shadow: 0 0 20PX yellow;
}
.verde {
    background-image: linear-gradient(to right, rgb(9, 255, 0), rgb(22, 129, 1));
    box-shadow: 0 0 20PX rgb(0, 212, 0);
}

