body {
    padding: 30px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.retangulo {
    width: 22%;
    height: 200px;
    background-color: #539ff7;
    margin: 0 auto 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 20px;
}

.quadrado {
    width: 150px;
    height: 150px;
}

.verde {
    background-color: green;
}

.roxo {
    background-color: blueviolet;
}

.semafaro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    gap: 30px;
}

.sinal {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.vermelho {
    background-color: red;
}

.amarelo {
    background-color: yellow;
}

.verde {
    background-color: green;
}